@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table_wrapper {
    @apply overflow-auto table-fixed text-base rounded-md shadow-md;
  }
  .table_wrapper table {
    @apply border-collapse  border-hidden w-auto max-w-full table-auto;
  }
  .head {
    @apply bg-[rgba(223,208,242)] text-sm;
  }
  th {
    @apply text-left px-4 py-2;
  }

  .table_wrapper td {
    @apply p-4 min-w-[90px] border-l-[2px] border-r-[2px] border-r-[#F3F3F3] 
    border-l-[#F3F3F3] text-left;
  }
  .table_wrapper tr {
    @apply even:bg-[rgba(223,208,242,0.4)];
  }
  .small_btn {
    @apply h-10 w-10  bg-[#F2F2F2] rounded-lg shadow-md text-center
     flex justify-center items-center hover:shadow-xl m-auto;
  }
  .search_bar {
    @apply h-12 w-1/3 rounded-md bg-[#F2F2F2] flex items-center p-4 mb-4;
  }
  .search_bar input {
    @apply bg-transparent cursor-text ml-4 focus:outline-none w-full;
  }
  .pagination_wrapper {
    @apply w-full flex flex-row justify-start items-center gap-[10px] mt-[10px];
  }
  .page_btn {
    @apply h-10 w-10  bg-[#FFFFFF] rounded-lg shadow-md text-center
     flex justify-center items-center hover:shadow-xl leading-tight
      focus:outline-none focus:ring-0 
     active:bg-[rgba(223,208,242)] active:shadow-lg transition duration-75 ease-in-out;
  }
  .options_wrapper {
    @apply h-64 w-60 flex flex-col justify-evenly shadow-md rounded-md;
  }
}
